.res{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap:20px;
}
.form_img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-ele{
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.inp_img{
    width: 10px;
}
.plus{
    width: 100px;
    height: 100px;
}
.form-logo1{
    width: 200px;
}
.form-logo2{
    width: 200px;
}
.form-ele {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.io-ele{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}
.submit-btn {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex; 
flex-direction: column;
    /* Center align its contents */
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
.loader {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 20vh; /* Adjust as needed */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  