<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upload</title>
    <link rel="stylesheet" href="/static/image_upload.css">

  </head>
  <body>
    <h1 style="text-align: center;">GET NEW DESIGNED OUTFITS</h1>
    <div class="cont1">
    <div class="div1">
    <div class="inner-div">
      <h2>Upload Image</h2>
      <img src="uplpng.png" class="upl" alt=""><br><br>
      <input type="file" id="image-upload" accept="image/*" />
    </div>
      <div id="image-preview"></div>
    </div>
</div>
      <script src="script.js"></script>
  </body>
</html>
